body {
  margin: 0;
  font-family: "Figtree", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Figtree", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: #ededed;
  font-size: 24px;
}
.app {
  background: #a8d5e5;
}

* {
  margin: 0;
  padding: 0;
}
.section-collapse {
  width: 95% !important;
}

.section-normal {
  width: 85% !important;
  height: 100%;
}
.menu1 {
  margin-bottom: 40px;
  margin-top: 20px;
}
h2 {
  color: #165a72;
}
.container {
  overflow-x: auto;
}

.search {
  overflow-x: scroll;
  width: 90%;
}
